# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/

# Rider
.idea/

# Logs
*.log

# Database
*.db
*.mdf
*.ldf

# OS files
Thumbs.db
.DS_Store

# NuGet
*.nupkg
packages/

# VS code
.vscode/

# Publish folder
publish/

# Others
*.env
